video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.is-family-custom {
  font-family: 'Covered By Your Grace', cursive, sans-serif;
}
.section-heading {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 6em;
}

html {
  font-size: 20px;
}
